:root {
    font-family: monospace;
}

/* Header */
header {
    margin: 0;
    padding-block: 1vh;
    background-image: linear-gradient(135deg, #e2ade4, #dc3273);
}

/* Body */
body {
    height: 100vh;
    background-color: black;
    margin: 0;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    text-align: center;
}
main#links {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-block: 5vh;
    align-items: center;
}

/* Buttons */
main#links > a.link {
    width: 256px;
    margin-block: 1vh;
    padding-block: 1.5vh;
    border: 3px solid whitesmoke;
    border-radius: 5px;
    color: whitesmoke;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    transition: 0.16s;
}
/* hover animation */
main#links > a.link:hover {
    /* background-image: linear-gradient(135deg, #e2ade4, #dc3273); */
    border: 3px solid #e2ade4;
}

/* Footer */
footer > p#footer-text {
    font-size: large;
}
footer > p#footer-text > a {
    text-decoration: none;
    color: #e2ade4;
}
