:root {
    font-family: monospace;
}

/* Header */
header {
    padding-block: 1vh;
    background-image: linear-gradient(135deg, #e2ade4, #dc3273);
}

/* Body */
body {
    min-height: 100vh;
    background-color: black;
    margin: 0;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    text-align: center;
}
main {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    padding-block: 3vh;
    align-items: center;
}

/* Buttons */
main > a,
main a:visited {
    width: 50vw;
    margin-block: 1vh;
    padding-block: 1.5vh;
    border: 3px solid whitesmoke;
    border-radius: 5px;
    color: whitesmoke;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    transition: 0.16s;
}
/* hover animation */
main > a:hover {
    /* background-image: linear-gradient(135deg, #e2ade4, #dc3273); */
    border: 3px solid #e2ade4;
    box-shadow: 0 0 10px #e2ade4;
}

/* Footer */
footer {
    margin-bottom: 1.5vh;
    font-size: large;
}
footer > a {
    color: #e2ade4;
}
