:root {
    /* Customization */
    --font-family: monospace;
    --text-color: whitesmoke;
    --fg-color-light: #e2ade4;
    --fg-color-dark: #dc3273;
    --banner-gradient: linear-gradient(
        135deg,
        var(--fg-color-light),
        var(--fg-color-dark)
    );
    --bg-color: black;
    --link-color: var(--text-color);
    --neon-color: var(--fg-color-light);
    --footer-text-color: var(--text-color);
    --footer-handle-text-color: var(--fg-color-light);
}

/* Header */
header {
    padding-block: 1vh;
    background-image: var(--banner-gradient);
}

/* Body */
body {
    min-height: 100vh;
    background-color: var(--bg-color);
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    color: var(--text-color);
    text-align: center;
}
main {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    padding-block: 3vh;
    align-items: center;
}

/* Buttons */
main > a,
main a:visited {
    width: 50vw;
    margin-block: 1vh;
    padding-block: 1.5vh;
    border: 3px solid var(--text-color);
    border-radius: 5px;
    color: var(--text-color);
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    transition: 0.16s;
}
/* hover animation */
main > a:hover {
    /* background-image: var(--banner-gradient); */
    border: 3px solid var(--neon-color);
    box-shadow: 0 0 10px var(--neon-color);
}

/* Footer */
footer {
    color: var(--footer-text-color);
    margin-bottom: 1.5vh;
    font-size: large;
}
footer > a {
    color: var(--footer-handle-text-color);
}
